<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>Cadastro de Pessoa</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="logo"
					src="/images/logo.PNG" />
				</a>
			</div>
		</div>
	</nav>

	<form class="form-horizontal" method="POST" action="/person/v1/add"
		th:object="${person}">
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Pessoa salvo com sucesso!!!</span>
		</div>

		<div class="alert alert-danger" th:if="${!#strings.isEmpty(erro)}">
			<span th:text="${erro}">Erro do sistema!!!</span>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Atualizar pessoa</h1>
					<a class="btn btn-link aw-link-panel" href="/">Voltar para
						pesquisa</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome"
							th:field="*{nome}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('cpf')} ? has-error">
					<label for="cpf" class="col-sm-2 control-label">CPF</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
					<label for="dataNascimento" class="col-sm-2 control-label">Data
						Nascimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataNascimento"
							th:field="*{dataNascimento}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-2 control-label">E-mail</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="email"
							th:field="*{email}" />
					</div>
				</div>
				<div class="form-group">
					<label for="naturalidade" class="col-sm-2 control-label">Naturalidade</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="naturalidade"
							th:field="*{naturalidade}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nacionalidade')} ? has-error">
					<label for="nacionalidade" class="col-sm-2 control-label">Nacionalidade</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="nacionalidade"
							th:field="*{nacionalidade}" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('sexo')} ? has-error">
					<label for="status" class="col-sm-2 control-label">Sexo</label>
					<div class="col-sm-1">
						<select class="form-control" name="Sexo">
							<option value="MASCULINO">M</option>
							<option value="FEMININO">F</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-12">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>