<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head>
   <meta charset="UTF-8"/>
   <title>Pesquisa de títulos</title>    
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
   <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">
               <img alt="logo" src="/images/logo.PNG" />
            </a>
         </div>
      </div>
   </nav>

   <div class="panel panel-default">
   	<div class="panel-heading">
      		<h1 class="panel-title">Pesquisa de Pessoas</h1>
      	</div>
      	
      	<div class="panel-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center col-md-2">CPF</th>
      					<th class="text-center col-md-2">Nome</th>
      					<th class="text-center col-md-2">Sexo</th>
      					<th class="text-center col-md-2">Email</th>
      					<th class="text-center col-md-2">Naturalidade</th>
      				    <th class="text-center col-md-2">Nacionaldida</th>
      					<th class="col-md-1"></th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td colspan="6">Nenhum título foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
   </div>
   <script src="/js/jquery-2.1.4.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</body>
</html>
















